<div id="edit_container" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="text-center">
        <%= simple_form_for @product, url: product_path(@product), html: { class: "mt-3" } do |form| %>
          <div class="row">
            <%= form.input :title, label: "Titre" %>
            <%= form.input :description, label: "Description" %>
            <%= form.input :price, label: "Prix" %>
            <%= form.input :category, label: "Catégorie" do %>
                <%= form.collection_select :category, ['Sport', 'Déguisement', 'Pantalon', 'Jupe', 'Robe', 'Costume', 'Manteau', 'Autre'], :to_s, :to_s, prompt: 'Sélectionner une catégorie' %>
  <% end %>
            <%= form.input :size, label: "Taille" do %>
              <%= form.collection_select :size, %w[XS S M L XL XXL XXXL], :to_s, :to_s, prompt: 'Sélectionner une taille' %>
            <% end %>
              
  <%= form.input :sexe, label: "Genre" do %>
    <%= form.collection_select :sexe, ['Homme', 'Femme', 'Enfant'], :to_s, :to_s, prompt: 'Sélectionner un genre' %>
  <% end %>
  <%= form.input :couleurs do %>
    <%= form.collection_select :couleurs, %w[Rouge Bleu Jaune Vert Blanc Noir Gris Autre], :to_s, :to_s, prompt: 'Sélectionner une couleur' %>
  <% end %>
  <%= form.input :textile_type, label: "Matière" do %>
    <%= form.collection_select :textile_type, %w[Laine Coton Soie Lin Synthétique Plastique Acier Autre], :to_s, :to_s, prompt: 'Sélectionner un type de textile' %>
  <% end %>
            <div class="col-12">
              <%= form.button :submit, "Modifier votre produit", class: "resa-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
