
<h6 class = "p-2 text-center">Toutes les annonces</h6>
<div class="cards">
  <% @products.each do |product| %>
      <div class="card">
        <%= link_to product_bookmarks_path(product), data: { 'turbo-method'=> :post }, class: 'add-to-favorites-button' do %>
          <% if product.bookmarks.where(user: current_user).exists? %>
            <i class="fa-solid fa-heart favorite-icon favorite-active"></i>
          <% else %>
            <i class="fa-solid fa-heart favorite-icon"></i>
            <% end %>
        <% end %>
    <%= link_to product_path(product) do %>
        <% if product.image.nil? %>
          <% product.image = "placeholder.jpg" %>
          <%= image_tag(product.image, alt: product.title) %>
        <% else %>
          <%= image_tag(product.image, alt: product.title) %>
        <% end %>
        <div class="card-info">
          <h2><%= product.title %></h2>
          <p class="description"><%= product.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
