<div class="selected-list">

  <%= form_tag(products_path, method: :get, class: "mt-3") do %>
    <%= select_tag :sexe, options_for_select(['Homme', 'Femme', 'Enfant'], params[:sexe]), include_blank: 'Sélectionner un genre', class: 'color-input' %>
    <%= select_tag :category, options_for_select(['Sport', 'Déguisement', 'Pantalon', 'Jupe', 'Robe', 'Costume', 'Manteau', 'Autre'], params[:category]), include_blank: 'Sélectionner une catégorie', class: 'color-input' %>
    <%= select_tag :size, options_for_select(['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'], params[:size]), include_blank: 'Sélectionner une taille', class: 'color-input' %>
    <%= select_tag :couleurs, options_for_select(['Rouge', 'Bleu', 'Jaune', 'Vert', 'Blanc', 'Noir', 'Gris', 'Orange', 'Violet', 'Marron'], params[:couleurs]), include_blank: 'Sélectionner une couleur', class: 'color-input' %>
    <%= select_tag :textile_type, options_for_select(['Laine', 'Coton', 'Soie', 'Lin', 'Synthétique', 'Plastique', 'Acier', 'Autre'], params[:textile_type]), include_blank: 'Préciser la matière', class: 'color-input' %>
    <%= submit_tag 'Filtrer', class: 'dropdown-button-2' %>
  <% end %>
               
</div>
<h4 class = "p-4 text-center">Toutes les annonces</h4>
<div class="cards colored-border-top">
  <% @products.each do |product| %>
      <div class="card">
        <%= link_to product_bookmarks_path(product), data: { 'turbo-method'=> :post }, class: 'add-to-favorites-button' do %>
          <% if product.bookmarks.where(user: current_user).exists? %>
            <i class="fa-solid fa-heart favorite-icon favorite-active"></i>
          <% else %>
            <i class="fa-solid fa-heart favorite-icon"></i>
            <% end %>
        <% end %>
    <%= link_to product_path(product), class: "full-w" do %>
        <% if product.image.nil? %>
          <% product.image = "placeholder.jpg" %>
          <%= image_tag(product.image, alt: product.title) %>
        <% else %>
          <%= image_tag(product.image, alt: product.title) %>
        <% end %>
        <div class="card-info">
          <h2 class ="product-style"><%= product.title %></h2>
          <p class="description"><%= product.description %></p>
          <p class = "size-style">Taille : <%= product.size %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
