<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <%= link_to "Iconic" , root_path, class: "navbar-brand", aria: { current: "page" }%>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">

</li>


        <li class="nav-item">
  <%= link_to new_product_path, class: "nav-link" do %>
    <%= tag.i(class: "fa-solid fa-circle-plus") %>
  <% end %>
</li>
    <%= link_to("My bookings", bookings_path, class: "nav-link active", aria: { current: "page" })%>
      </ul>
        <nav>
        <ul class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <ul><%= current_user.username %></ul>
            <ul><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></ul>
          <% else %>
            <%= link_to 'Sign-in', new_user_session_path %>
          <% end %>
          </div>
        </ul>
      </nav>
      <form class="d-flex" role="search" method="get" action="<%= root_path %>">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<%= render "shared/flashes" %>
