<!DOCTYPE html>
<html>
  <head>
    <title>Iconic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>



  <body>

    <%= render "layouts/navbar" %>
      <%= yield %>
    </main>
  </body>
  <footer>
<div class="footer">
  <div class="footer-links">
    <div class="caca">
  <%= link_to 'Iconic, Inc.', root_path %>
<%= link_to 'Confidentialité', root_path %>
<%= link_to 'Conditions générales', root_path %>
<%= link_to 'Contact', root_path %>

</div>

 <br>
  <%# <div class="freuro ml-2">
    <span>Français</span>
    <span>EUR</span>
  </div> %>
  <div class="socials">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
    </div>
    </footer>
